<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %> 
</head>
<body>
    <div id="app">
        <header id="choose-api-header">Choose Your API</header>
        <span>Logged in as: <%= req.user %> | </span>

    </div>
</body>
</html>